
.inactive {
  color: gray;
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  background-color: black;
  color: white;
  margin-right: 1rem;
}

.spaninactive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  background-color: grey;
  color: white;
  margin-right: 0.5rem;
}

.title {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}